

.document-parsing {
  background-image: url('@/assets/images/bj.png');
  background-size: auto 100%;
  background-position: center;
  padding: 30px 12px 2px 12px;

  .el-page-header {
    padding-bottom: 12px;
    border-bottom: 1px solid #E5E7EC;
  }

  ::-webkit-scrollbar {
    width: 4px;
    background: rgba(32, 45, 64, 0.5);
    opacity: 0.5;
  }

  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    padding-right: 4px;
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.3);
  }
}
